* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul,
li,
a,
button {
  list-style: none;
  text-decoration: none;
  border: none;
}

.container-homepage {
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-columns: 1.05fr 2fr;
  background-image: url(/public/background.jpg);
  background-size: cover;
}

.header-homepage {
  background-image: url(/public/homepage.png);
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  padding-bottom: 60px;
}
.header-homepage img {
  width: 200px;
  height: 75px;
}

.content-homepage {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 10vw;
  padding-bottom: 35px;
}
ul.homepage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}
ul.homepage li {
  width: 100%;
}
button.homepage {
  width: 100%;
  height: 35px;
  background: #1f2859;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}
.title-homepage {
  font-weight: bold;
  font-size: 34px;
}
.subtitle-homepage {
  font-weight: bold;
  line-height: 1.5;
  padding: 16px 0;
  font-size: 18px;
}

@media (max-width: 1050px) {
  .container-homepage {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .header-homepage {
    height: 200px;
  }
  .content-homepage {
    padding: 30px 6vw;
    height: auto;
  }
  .subtitle-homepage {
    font-weight: bold;
    line-height: 1.5;
    padding: 16px 0;
    font-size: 18px;
  }
  ul.homepage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

@media (max-width: 750px) {
  .container-homepage {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .content-homepage {
    padding: 35px 6vw;
    height: auto;
  }
  .subtitle-homepage {
    font-weight: bold;
    line-height: 1.5;
    padding: 20px 0;
    font-size: 18px;
  }
  ul.homepage {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
