<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>DAPS | Thanks</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../public/assets/css/bootstrap.min.css" />

    <!-- External Css -->
    <link rel="stylesheet" href="../public/assets/css/line-awesome.min.css" />
    <link rel="stylesheet" href="../public/assets/css/owl.carousel.min.css" />

    <!-- Custom Css -->
    <link rel="stylesheet" type="text/css" href="../public/css/main.css" />
    <link rel="stylesheet" type="text/css" href="../public/css/donation.css" />

    <!-- Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />

    <!-- Favicon -->
    <link rel="icon" href="../public/images/favicon.png" />
    <link rel="apple-touch-icon" href="../public/images/apple-touch-icon.png" />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="../images/icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="../images/icon-114x114.png"
    />
  </head>
  <body>
    <div class="ugf-bg">
      <div class="final-content">
        <div class="icon">
          <img src="../public/images/big-heart.png" alt="" />
        </div>
        <h2>Thank You</h2>
        <p>We are very glad to get you valuable love for beautiful people!</p>
        <a href="index.html" class="btn">Donate Again</a>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../public/assets/js/jquery.min.js"></script>
    <script src="../public/assets/js/popper.min.js"></script>
    <script src="../public/assets/js/bootstrap.min.js"></script>

    <script src="../public/js/custom.js"></script>
  </body>
</html>
