<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="../public/main.css" />
    <link rel="stylesheet" type="text/css" href="../public/donation.css" />
    <title>Document</title>
  </head>

  <body>
    <div class="container-donation">
      <div class="header-donation">
        <div class="fixed">
          <a href="/">
            <img
              src="/public/logo.png"
              class="logo"
              alt="logo dallas area parkinson society"
          /></a>

          <div class="header-content-fixed">
            <h1>Fundraising Campaign X</h1>
            <p class="subtitle-fixed">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora
              non aliquam inventore! Iusto error natus a, quos cumque sapiente,
              veritatis reiciendis pariatur Lorem ipsum dolor sit amet
              consectetur adipisicing elit. Tempora non aliquam inventore! Iusto
              error natus a,
            </p>
            <div class="percent">
              <h3>$25,500</h3>
              <div class="percent-color">
                <div class="color"></div>
              </div>
              <ul class="list-fundraising">
                <li class="items-fundraising">
                  <p class="name">Donate:</p>
                  <p class="value">$25,000</p>
                </li>

                <li class="items-fundraising">
                  <p class="name">Goal:</p>
                  <p class="value">$100,000</p>
                </li>
                <li class="items-fundraising">
                  <p class="name">Total Raised:</p>
                  <p class="value">$75,000</p>
                </li>
                <li class="items-fundraising">
                  <p class="name">Total Left:</p>
                  <p class="value">$25,000</p>
                </li>
                <li>
                  <p class="name">Campaign Ends: 22/06/2021</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="content-form-donation">
        <div class="header-title-donation">
          <h2>Contribution Amount</h2>
          <p>1/4</p>
        </div>

        <form
          action="/donation-complete"
          class="form-donation"
          data-controller="donations"
        >
          <div class="amount-select">
            <label for="#">Select amount</label>
            <div class="amount-preset span">
              <span
                data-action="click->donation#handleAmountClick"
                class="amount-value"
                id="amount-value"
              >
                $25</span
              >
              <span
                data-action="click->donation#handleAmountClick"
                class="amount-value"
                id="amount-value"
              >
                $50</span
              >
              <span
                data-action="click->donation#handleAmountClick"
                class="amount-value"
                id="amount-value"
              >
                $100</span
              >
              <span
                data-action="click->donation#handleAmountClick"
                class="amount-value"
                id="amount-value"
              >
                $250</span
              >
              <span
                data-action="click->donation#handleAmountClick"
                class="amount-value"
                id="amount-value"
              >
                $500</span
              >
            </div>
            <p class="error-donation-value"></p>
          </div>

          <div class="form-group" id="value-container">
            <label> OR TYPE A CUSTOM AMOUNT </label>

            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="validatedInputGroupPrepend"
                  >$</span
                >
              </div>
              <input
                type="text"
                class="form-control custom-donation"
                id="donate-value"
                aria-describedby="validatedInputGroupPrepend"
                placeholder="0.00"
                data-donation-target="inputs inputAmount"
              />
            </div>
          </div>

          <div class="checkbox-field">
            <input onclick="toggleModal()" type="checkbox" />
            <label>I am contributing on behalf of an organization.</label>
          </div>

          <div
            class="modal-closed modal-checkbox"
            data-donations-target="modalCheckbox"
          >
            <div class="header-title-donation">
              <h2>Organization Details</h2>
            </div>

            <div
              class="form-group one-col one-collumn email-container"
              data-donations-target="emailContainer"
            >
              <label>Organization Name * </label>
              <input
                class="form-control one-collumn"
                placeholder="Organization Name"
              />
            </div>

            <div
              class="form-group one-col one-collumn email-container"
              data-donations-target="emailContainer"
            >
              <label>Phone Number</label>
              <input
                class="form-control one-collumn"
                placeholder="+1 (999) 999-9999"
              />
            </div>

            <div
              class="form-group one-col one-collumn email-container"
              data-donations-target="emailContainer"
            >
              <label>Address</label>
              <input
                class="form-control one-collumn"
                placeholder="+1 (999) 999-9999"
              />
            </div>

            <div class="row">
              <div class="col-sm-4">
                <div class="form-group one-col one-collumn" id="city-container">
                  <label for="inputCity">Your City</label>
                  <input
                    type="text"
                    class="form-control one-collumn"
                    id="City"
                    placeholder="e.g. New York"
                  />
                </div>
              </div>
              <div class="col-sm-4">
                <div
                  class="form-group one-col one-collumn"
                  id="state-container"
                >
                  <label for="state">Your state</label>
                  <input
                    class="form-control one-collumn"
                    placeholder="e.g. New York"
                    data-donations-target="inputState"
                  />
                </div>
              </div>

              <div class="col-sm-4">
                <div
                  class="form-group one-col one-collumn"
                  id="state-container"
                >
                  <label for="state">Your country</label>
                  <input
                    class="form-control one-collumn"
                    placeholder="e.g. New York"
                    data-donations-target="inputState"
                  />
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group one-collumn">
                <label for="zip_code">POSTAL CODE</label>
                <input
                  class="form-control one-collumn"
                  placeholder="E.g. 0000"
                  data-donations-target="inputZipCode"
                />
              </div>
            </div>

            <div
              class="form-group one-col one-collumn email-container"
              data-donations-target="emailContainer"
            >
              <label>Organization Email * </label>
              <input
                class="form-control one-collumn"
                placeholder="Email@example.com"
              />
            </div>
          </div>

          <div class="form-steps active">
            <div class="form-block">
              <div class="header-title-donation">
                <h2>Donor Name and Address</h2>
                <p>2/4</p>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div
              class="form-group name-container one-collumn"
              id="name-container"
              data-donations-target="firstNameContainer"
            >
              <label for="fName">First Name </label>
              <input
                type="text"
                class="form-control one-collumn"
                id="inputName"
                placeholder="John"
                data-donation-target="inputName"
              />
            </div>
          </div>

          <div class="col-sm-6">
            <div
              class="form-group name-container one-collumn"
              id="name-container"
              data-donations-target="lastNameContainer"
            >
              <label for="lName">Last Name </label>
              <input
                type="text"
                class="form-control one-collumn"
                id="inputLastName"
                placeholder="Doe"
                data-donation-target="inputLastName"
              />
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group one-collumn">
              <label for="address2">Address (Home)</label>
              <input
                type="text"
                class="form-control one-collumn"
                id="inputAdress"
                placeholder="e.g. Los Angeles, CA 900"
              />
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <div class="form-group one-col one-collumn" id="city-container">
                <label for="inputCity">City (Home) </label>
                <input
                  type="text"
                  class="form-control one-collumn"
                  id="inputCity"
                  placeholder="e.g. New York"
                />
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group one-col one-collumn" id="state-container">
                <label for="state">state (Home) </label>
                <input
                  class="form-control one-collumn"
                  placeholder="e.g. New York"
                  data-donations-target="inputState"
                  id="inputState"
                />
              </div>
            </div>

            <div class="col-sm-4">
              <div class="form-group one-col one-collumn" id="state-container">
                <label for="state">country (Home) </label>
                <input
                  class="form-control one-collumn"
                  placeholder="e.g. New York"
                  id="inputCountry"
                  data-donations-target="inputState"
                />
              </div>
            </div>
          </div>

          <div class="form-group one-collumn">
            <label for="zip_code">Phone Number (Home)</label>
            <input
              class="form-control one-collumn"
              placeholder="+1 (999) 999-9999"
              data-donations-target="inputZipCode"
            />
          </div>

          <div class="col-sm-6">
            <div class="form-group col-double one-collumn">
              <label for="zip_code">Postal Code (Home) </label>
              <input
                class="form-control one-collumn"
                placeholder="E.g. 0000"
                id="inputPostalCode"
                data-donations-target="inputZipCode"
              />
            </div>
          </div>

          <div class="checkbox-field">
            <input
              data-action="donations#openModalAdress"
              type="checkbox"
              onclick="modalBilling()"
            />
            <label>My billing address is the same as above</label>
          </div>

          <div data-donations-target="modalCheckbox">
            <div class="form-steps active">
              <div class="form-block">
                <div class="header-title-donation">
                  <h2>Billing Name and Address</h2>
                  <p>3/4</p>
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div
                class="form-group name-container one-collumn"
                id="name-container"
                data-donations-target="firstNameContainer"
              >
                <div
                  class="form-group one-col one-collumn email-container"
                  data-donations-target="emailContainer"
                >
                  <label>Email Address * </label>
                  <input
                    class="form-control one-collumn"
                    placeholder="Email@example.com"
                    required
                  />
                </div>
                <label for="fName">Billing First Name * </label>
                <input
                  type="text"
                  class="form-control one-collumn"
                  id="inputBillingName"
                  placeholder="John"
                  data-donation-target="inputBillingName"
                  required
                />
              </div>
            </div>

            <div
              class="form-group one-col one-collumn email-container"
              data-donations-target="emailContainer"
            >
              <label>Billing Middle name </label>
              <input
                class="form-control one-collumn"
                placeholder="Middle Name"
              />
            </div>

            <div class="col-sm-6">
              <div
                class="form-group name-container one-collumn"
                id="name-container"
              >
                <label for="lName">Billing Last Name * </label>
                <input
                  type="text"
                  class="form-control one-collumn"
                  id="inputBillingLastName"
                  placeholder="Doe"
                  required
                />
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group one-collumn">
                <label for="address2">Street Address *</label>
                <input
                  type="text"
                  class="form-control one-collumn"
                  id="inputBillingAdress"
                  placeholder="e.g. Los Angeles, CA 900"
                  required
                />
              </div>
            </div>

            <div class="row">
              <div class="col-sm-4">
                <div class="form-group one-col one-collumn" id="city-container">
                  <label for="inputCity">Your City * </label>
                  <input
                    type="text"
                    class="form-control one-collumn"
                    id="inputBillingCity"
                    placeholder="e.g. New York"
                    required
                  />
                </div>
              </div>
              <div class="col-sm-4">
                <div
                  class="form-group one-col one-collumn"
                  id="state-container"
                >
                  <label for="state">Your state * </label>
                  <input
                    class="form-control one-collumn"
                    placeholder="Your State"
                    id="inputBillingState"
                    required
                  />
                </div>
              </div>

              <div class="col-sm-4">
                <div
                  class="form-group one-col one-collumn"
                  id="state-container"
                >
                  <label for="state">Your country * </label>
                  <input
                    class="form-control one-collumn"
                    placeholder="Your Country"
                    id="inputBillingCountry"
                    required
                  />
                </div>
              </div>
            </div>

            <div class="form-group one-collumn">
              <label for="zip_code">Phone Number * </label>
              <input
                class="form-control one-collumn"
                placeholder="+1 (999) 999-9999"
                data-donations-target="inputZipCode"
              />
            </div>

            <div class="col-sm-6">
              <div class="form-group col-double one-collumn">
                <label for="zip_code">Postal Code * </label>
                <input
                  class="form-control one-collumn"
                  id="inputBillingPostalCode"
                  placeholder="E.g. 0000"
                  required
                />
              </div>
            </div>
          </div>

          <div class="form-steps active">
            <div class="form-block">
              <div class="header-title-donation">
                <h2>Payment Method</h2>
                <p>4/4</p>
              </div>
            </div>
          </div>
          <div class="form-group one-collumn">
            <label for="inputCard">Card Number * </label>
            <input
              type="text"
              class="form-control one-collumn"
              id="inputCard"
              placeholder="e.g. 0000 0000 0000 0000"
            />
          </div>
          <div class="form-group one-collumn">
            <label for="inputHolder">Cardholder name * </label>
            <input
              type="text"
              class="form-control one-collumn"
              id="inputHolder"
              placeholder="e.g. John Doe"
            />
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group col-double">
                <label for="inputExpire">Expiration date *</label>
                <input
                  type="text"
                  class="form-control"
                  id="inputExpire"
                  placeholder="e.g. MM/YY"
                />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group col-double">
                <label for="inputCCV">CCV Code *</label>
                <input
                  type="text"
                  class="form-control"
                  id="inputCCV"
                  placeholder="e.g. 000"
                />
              </div>
            </div>
          </div>

          <button class="btn btn-100" id="btn-submit">
            Confirm Donation &nbsp; &#10084;
          </button>
        </form>
        <div class="ugf-block-separator">
          <p>Or</p>
        </div>
        <div class="alternet-payment">
          <a href="#" class="btn"
            >Donate with
            <img
              src="../public/images/paypal.png"
              class="img-fluid"
              alt="paypal payment donation"
          /></a>
        </div>
      </div>
    </div>
    <script src="/public/js/jquery.min.js"></script>
    <script src="/public/js/popper.min.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
    <script src="/scripts/script.js"></script>
  </body>
</html>
