<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="../public/main.css" />
    <link rel="stylesheet" type="text/css" href="../public/donation.css" />

    <title>Document</title>
  </head>

  <body>
    <div class="container-donation">
      <div class="header-donation">
        <div class="fixed">
          <a href="/">
            <img
              src="/public/logo.png"
              class="logo"
              alt="logo dallas area parkinson society"
          /></a>
          <div class="header-content-fixed">
            <h1>Sponsors</h1>
            <p class="subtitle-fixed">
              DAPS sponsors are awarded opportunities to meet, build
              relationships and educate the PD community throughout the year.
              Partnerships with sponsors help increase awareness of available
              resources and build a greater understanding of how to live a
              healthy and happy life with PD.
            </p>
            <p class="subtitle-fixed">
              To learn more about the many sponsorship opportunities available
              throughout the year, click
              <a
                href="https://e25b219d-84f3-41fe-bbf5-3cd764f8ea21.filesusr.com/ugd/e1ac43_cfa4bc48daf74e73bf287c81bb678991.pdf"
                class="text-sponsor"
                >here</a
              >
              for the full sponsorship package. For any additional questions,
              please feel free to contact us at
              <a href="mailto: daps@daps.org" class="text-sponsor"
                >daps@daps.org</a
              >
              or 972-620-7600.
            </p>
          </div>
        </div>
      </div>

      <div class="content-form-donation">
        <div class="header-title-donation">
          <h2>Total Sponsorship Amount</h2>
          <p>1/4</p>
        </div>

        <form
          action="/donation-complete"
          class="form-donation"
          data-controller="donations"
        >
          <div class="amount-select">
            <label for="#">Select amount</label>
            <div class="amount-preset span">
              <span
                data-action="click->donation#handleAmountClick"
                class="amount-value"
                id="amount-value"
              >
                $25</span
              >
              <span
                data-action="click->donation#handleAmountClick"
                class="amount-value"
                id="amount-value"
              >
                $50</span
              >
              <span
                data-action="click->donation#handleAmountClick"
                class="amount-value"
                id="amount-value"
              >
                $100</span
              >
              <span
                data-action="click->donation#handleAmountClick"
                class="amount-value"
                id="amount-value"
              >
                $250</span
              >
              <span
                data-action="click->donation#handleAmountClick"
                class="amount-value"
                id="amount-value"
              >
                $500</span
              >
            </div>
            <p class="error-donation-value"></p>
          </div>

          <div class="form-group" id="value-container">
            <label> OR TYPE A CUSTOM AMOUNT </label>

            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="validatedInputGroupPrepend"
                  >$</span
                >
              </div>
              <input
                type="text"
                class="form-control custom-donation"
                id="donate-value"
                aria-describedby="validatedInputGroupPrepend"
                placeholder="0.00"
                data-donation-target="inputs inputAmount"
              />
            </div>
          </div>

          <div class="checkbox-field">
            <input onclick="toggleModal()" type="checkbox" />
            <label>I am contributing on behalf of an organization.</label>
          </div>

          <div
            class="modal-closed modal-checkbox"
            data-donations-target="modalCheckbox"
          >
            <div class="header-title-donation">
              <h2>Organization Details</h2>
            </div>

            <div
              class="form-group one-col one-collumn email-container"
              data-donations-target="emailContainer"
            >
              <label>Organization Name * </label>
              <input
                class="form-control one-collumn"
                placeholder="Organization Name"
              />
            </div>

            <div
              class="form-group one-col one-collumn email-container"
              data-donations-target="emailContainer"
            >
              <label>Phone</label>
              <input
                class="form-control one-collumn"
                placeholder="Organization Phone"
              />
            </div>

            <div
              class="form-group one-col one-collumn email-container"
              data-donations-target="emailContainer"
            >
              <label>Address</label>
              <input
                class="form-control one-collumn"
                placeholder="Organization Address"
              />
            </div>

            <div class="row">
              <div class="col-sm-4">
                <div class="form-group one-col one-collumn" id="city-container">
                  <label for="inputCity">Your City</label>
                  <input
                    type="text"
                    class="form-control one-collumn"
                    id="City"
                    placeholder="e.g. New York"
                  />
                </div>
              </div>
              <div class="col-sm-4">
                <div
                  class="form-group one-col one-collumn"
                  id="state-container"
                >
                  <label for="state">Your state</label>
                  <input
                    class="form-control one-collumn"
                    placeholder="e.g. New York"
                    data-donations-target="inputState"
                  />
                </div>
              </div>

              <div class="col-sm-4">
                <div
                  class="form-group one-col one-collumn"
                  id="state-container"
                >
                  <label for="state">Your country</label>
                  <input
                    class="form-control one-collumn"
                    placeholder="e.g. New York"
                    data-donations-target="inputState"
                  />
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group one-collumn">
                <label for="zip_code">POSTAL CODE</label>
                <input
                  class="form-control one-collumn"
                  placeholder="E.g. 0000"
                  data-donations-target="inputZipCode"
                />
              </div>
            </div>

            <div
              class="form-group one-col one-collumn email-container"
              data-donations-target="emailContainer"
            >
              <label>Organization Email * </label>
              <input
                class="form-control one-collumn"
                placeholder="Email@example.com"
              />
            </div>
          </div>

          <div class="form-steps active">
            <div class="form-block">
              <div class="header-title-donation">
                <h2>Sponsorship Info</h2>
                <p>2/4</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group one-collumn">
              <p>
                Please list the title, location, and date of the event(s) you
                are sponsoring.
              </p>
              <label for="memory">Contribution Note *</label>
              <textarea
                name="memory"
                id=""
                cols="30"
                class="one-collumn"
                rows="10"
              ></textarea>
            </div>
          </div>

          <div data-donations-target="modalCheckbox">
            <div class="form-steps active">
              <div class="form-block">
                <div class="header-title-donation">
                  <h2>Billing Name and Address</h2>
                  <p>3/4</p>
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div
                class="form-group name-container one-collumn"
                id="name-container"
                data-donations-target="firstNameContainer"
              >
                <div
                  class="form-group one-col one-collumn email-container"
                  data-donations-target="emailContainer"
                >
                  <label>Email Address * </label>
                  <input
                    class="form-control one-collumn"
                    placeholder="Email@example.com"
                  />
                </div>
                <label for="fName">Billing First Name * </label>
                <input
                  type="text"
                  class="form-control one-collumn"
                  id="Name"
                  placeholder="John"
                  data-donation-target="inputName"
                />
              </div>
            </div>

            <div
              class="form-group one-col one-collumn email-container"
              data-donations-target="emailContainer"
            >
              <label>Billing Middle name </label>
              <input
                class="form-control one-collumn"
                placeholder="Middle Name"
              />
            </div>

            <div class="col-sm-6">
              <div
                class="form-group name-container one-collumn"
                id="name-container"
                data-donations-target="lastNameContainer"
              >
                <label for="lName">Billing Last Name * </label>
                <input
                  type="text"
                  class="form-control one-collumn"
                  id="lastName"
                  placeholder="Doe"
                  data-donation-target="inputLastName"
                />
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group one-collumn">
                <label for="address2">Street Address *</label>
                <input
                  type="text"
                  class="form-control one-collumn"
                  id="address2"
                  placeholder="e.g. Los Angeles, CA 900"
                />
              </div>
            </div>

            <div class="row">
              <div class="col-sm-4">
                <div class="form-group one-col one-collumn" id="city-container">
                  <label for="inputCity">Your City * </label>
                  <input
                    type="text"
                    class="form-control one-collumn"
                    id="City"
                    placeholder="e.g. New York"
                  />
                </div>
              </div>
              <div class="col-sm-4">
                <div
                  class="form-group one-col one-collumn"
                  id="state-container"
                >
                  <label for="state">Your state * </label>
                  <input
                    class="form-control one-collumn"
                    placeholder="Your State"
                    data-donations-target="inputState"
                  />
                </div>
              </div>

              <div class="col-sm-4">
                <div
                  class="form-group one-col one-collumn"
                  id="state-container"
                >
                  <label for="state">Your country * </label>
                  <input
                    class="form-control one-collumn"
                    placeholder="Your Country"
                    data-donations-target="inputState"
                  />
                </div>
              </div>
            </div>

            <div class="form-group one-collumn">
              <label for="inputCard">Phone Number * </label>
              <input
                type="text"
                class="form-control one-collumn"
                id="inputCard"
                placeholder="e.g. 0000 0000 0000 0000"
              />
            </div>

            <div class="col-sm-6">
              <div class="form-group col-double one-collumn">
                <label for="zip_code">Postal Code * </label>
                <input
                  class="form-control one-collumn"
                  placeholder="E.g. 0000"
                  data-donations-target="inputZipCode"
                />
              </div>
            </div>
          </div>

          <div class="form-steps active">
            <div class="form-block">
              <div class="header-title-donation">
                <h2>Payment Method</h2>
                <p>4/4</p>
              </div>
            </div>
          </div>
          <div class="form-group one-collumn">
            <label for="inputCard">Card Number * </label>
            <input
              type="text"
              class="form-control one-collumn"
              id="inputCard"
              placeholder="e.g. 0000 0000 0000 0000"
            />
          </div>
          <div class="form-group one-collumn">
            <label for="inputHolder">Cardholder name * </label>
            <input
              type="text"
              class="form-control one-collumn"
              id="inputHolder"
              placeholder="e.g. John Doe"
            />
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group col-double">
                <label for="inputExpire">Expiration date *</label>
                <input
                  type="text"
                  class="form-control"
                  id="inputExpire"
                  placeholder="e.g. MM/YY"
                />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group col-double">
                <label for="inputCCV">CCV Code *</label>
                <input
                  type="text"
                  class="form-control"
                  id="inputCCV"
                  placeholder="e.g. 000"
                />
              </div>
            </div>
          </div>

          <button class="btn btn-100" id="btn-submit">
            Confirm Donation &nbsp; &#10084;
          </button>
        </form>
        <div class="ugf-block-separator">
          <p>Or</p>
        </div>
        <div class="alternet-payment">
          <a href="#" class="btn"
            >Donate with
            <img
              src="../public/images/paypal.png"
              class="img-fluid"
              alt="paypal payment donation"
          /></a>
        </div>
      </div>
    </div>
    <script src="/public/js/jquery.min.js"></script>
    <script src="/public/js/popper.min.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
    <script src="/scripts/script.js"></script>
  </body>
</html>
