div.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1 {
  font-size: 56px;
  margin: 0px 0 60px;
}
.subtitle {
  font-size: 28px;
  margin-bottom: 40px;
}
ul {
  display: flex;
  padding: 10px;

  border-radius: 8px;
}

ul li button {
  padding: 15px;
  border: none;
  background: #ff6987;
  margin: 10px;
  border-radius: 6px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}
ul li button a {
  color: white;
}
div.container p.descript {
  font-size: 28px;
  margin-top: 24px;
}
@media (max-width: 980px) {
  div.container {
    padding: 150px 0;
  }
  ul {
    flex-direction: column;
  }
  ul li button {
    min-width: 200px;
  }
}
