div.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  padding: 50px 0;
}
.logo {
  width: 250px;
  height: 100px;
}
h1 {
  font-size: 56px;
}
.subtitle {
  font-size: 28px;
  margin-bottom: 30px;
}
ul {
  display: flex;
  padding: 0px;
  margin: 0;
  gap: 20px;
  border-radius: 8px;
}

ul li button {
  padding: 15px 20px;
  border: none;
  background: #ff6987;

  border-radius: 6px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}
ul li button a {
  color: white;
}
div.container p.descript {
  font-size: 28px;
  margin-top: 24px;
}

@media (max-width: 1150px) {
  div.container {
    margin: 20px;
  }
  .logo {
    width: 230px;
    height: 90px;
  }
  h1 {
    font-size: 44px;
    text-align: center;
  }
  ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  ul li button {
    width: 100%;
  }
}
@media (max-width: 900px) {
  div.container {
    margin: 20px;
  }
  .logo {
    width: 210px;
    height: 80px;
  }
  h1 {
    font-size: 44px;
  }
  ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  ul li button {
    width: 100%;
  }
}
@media (max-width: 600px) {
  div.container {
    margin: 20px;
    padding: 20px 0;
  }
  .logo {
    width: 210px;
    height: 80px;
  }
  h1 {
    font-size: 38px;
    margin: 30px 0;
  }
  ul {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  ul li button {
    width: 100%;
  }

  div.container p.descript {
    font-size: 28px;
    margin-bottom: 0px;
  }
}
