div.container-donation {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div.header-donation {
  height: 100vh;
}
div.fixed {
  display: flex;
  position: fixed;
  background-image: url(/public/images/background.png);
  background-position-x: -600px;
  background-size: cover;

  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  width: 45%;

  flex-direction: column;

  padding: 0px 30px;
  color: white;
}
.header-content-fixed {
  margin-bottom: 70px;
}
.gem-header {
  margin-bottom: 10px;
}
div.fixed div h1 {
  color: white;
  margin: 30px 0;
  font-size: 46px;
}

.daps-gem {
  font-size: 30px;
  margin: 10px 0;
}

div.fixed div p.subtitle-fixed {
  color: white;
  margin: 10px 0;
}

div.fixed div p.pt-20 {
  font-size: 20px;
}
div.fixed img.logo {
  width: 220px;
  height: 90px;
  margin-top: 40px;
}
div.fixed .icons-container {
  display: flex;
  gap: 16px;
  align-self: bottom;
}
div.fixed .icons-container .icon-media {
  width: 30px;
  height: 30px;
  filter: invert(92%);
  cursor: pointer;
}

div.content-form-donation {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px 80px;
}

div.header-title-donation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
div.header-title-donation h2 {
  font-size: 32px;
  color: #ff6987;
  padding: 30px 0;
}
div.header-title-donation p {
  font-size: 32px;
  color: #b2becc;
  font-weight: bold;
}
div.amount-select label {
  font-weight: bold;

  text-transform: uppercase;
  font-size: 12px;
}
div.amount-select .amount-preset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
div.amount-select .amount-preset span {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  background: #ffffff;
  margin-right: 15px;
  margin-bottom: 15px;
  height: 65px;

  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  color: #b2becc;
  line-height: 65px;
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
div.amount-select .amount-preset span img {
  width: 32px;
  height: 28px;
  margin-right: 5px;
}
.form-block .amount-select .amount-preset span:last-child {
  margin-right: 0;
}
div.amount-select .amount-preset span.activeValue {
  background: #ff6987 !important;
  color: white !important;
  border-color: #ff6987;
}
div.amount-select div.div-amount {
  margin-right: 15px;
}
span.container-amount {
  margin: 0 !important;
}
div.amount-select div.div-amount .container-amount {
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  background: #ffffff;
  width: 100px;
  height: 65px;

  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  color: #b2becc;
  line-height: 65px;
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
div.form-group label {
  text-transform: uppercase;
  font-weight: bold;
}
.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}
.input-group .input-group-prepend {
  background: #ffffff;
  width: 70px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-right: 0;
  font-weight: bold;
  display: flex;
  text-align: center;
  align-items: center;
  font-size: 1.8rem;
  justify-content: center;
}
.input-group .input-group-prepend img {
  width: 32px;
  height: 28px;
}
.input-group .form-control {
  max-width: 200px;
  background: #ffffff;
  height: 60px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 0 25px;
  font-size: 1.8rem;
  font-weight: 700;
  color: #b2becc;
}
.form-control {
  color: #546274;
  background: #ffffff;
  height: 60px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0 25px;
  font-size: 1.5rem;
  font-weight: 400;
}
.row {
  display: flex;
  gap: 12px;
}
.email-container {
  display: flex;
  flex-direction: column;
  width: 270px;
  margin-top: 20px;
}
.country-select {
  width: 100%;
  margin-top: 20px;
}
.country-select .choose-country select {
  width: 100%;
}

.one-collumn {
  width: 100%;
}

.form-group {
  margin: 10px 0;
}
.btn {
  height: 60px;
  width: 100%;
  text-align: center;
  background: #ff6987;
  font-size: 1.5rem;
  font-weight: 700;
  color: #ffffff;
  border-radius: 10px;
  border: 0;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-top: 25px;
  cursor: pointer;
}
.alternet-payment .btn {
  width: 100%;
  height: 60px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #1c2437;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: 0px 5px 8px 0px rgb(0 0 0 / 5%);
  box-shadow: 0px 5px 8px 0px rgb(0 0 0 / 5%);
  cursor: pointer;
  margin-bottom: 22px;
}

.ugf-block-separator {
  height: 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}
div.percent h3 {
  color: white;
}
div.percent .percent-color {
  width: 100%;
  height: 12px;
  background: #ff698750;
  border-radius: 10px;
}
div.percent .percent-color .color {
  width: 25%;
  background: #ff6987;
  height: 12px;
  border-radius: 10px;
}
div.percent .list-fundraising {
  margin: 15px 0 0 0;
  padding: 0;
}
div.percent .list-fundraising li {
  list-style: none;
  display: flex;
  align-items: center;

  padding: 3px 0;
}
div.percent .list-fundraising li p.name {
  color: white;
  font-size: 12px;
}

div.percent .list-fundraising li p.value {
  background: #ff6987;
  padding: 0px 4px;
  margin-left: 5px;
  color: white;
}

div img.gem-icons {
  width: 32px;
  height: 25px;
  margin-right: 6px;
}
div.gems-container {
  display: flex;
  flex-direction: column;
}
div.gems-container div.gems-content {
  display: flex;
  align-items: center;
  margin-bottom: 3px;
}
div.gems-container div.gems-content p {
  font-size: 12px;
  color: white;
}
.gems-in-container {
  height: auto;
  width: 50px;
  margin-right: 6px;
}
.text-sponsor {
  color: #0000ff;
}
.text-sponsor:hover {
  cursor: pointer;
  color: #0000ffcc;
}

label.text-gem-bold {
  font-weight: bold;
  font-size: 22px;
}
ul.gem-list {
  font-size: 13px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  margin-bottom: 5px;
}
p.error-input {
  color: rgb(245, 79, 79);
  padding: 4px 7px;
  margin-top: 3px;
  font-weight: 100;
  font-size: 17px;
  border-bottom: 1px solid red;
  border-radius: 3px;

  background: rgb(255, 250, 250);
}

.form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #b2becc;
}

.form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #b2becc;
}

.form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: #b2becc;
}

.form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #b2becc;
}

div.ugf-bg {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
div.ugf-bg .final-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
div.ugf-bg .final-content .btn {
  background: #ff6987;
  color: white;
  padding: 10px;
  border-radius: 8px;
  font-size: 21px;
  margin-top: 10px;
}

div.modal-closed {
  display: none;
}

@media (max-width: 700px) {
  div.container-donation {
    display: flex;
    flex-direction: column;
    background-position-x: 0px;
  }
  div.fixed h1 {
    font-size: 24px;
  }
  div.header-title-donation h2 {
    font-size: 24px;
  }
  div.header-title-donation p {
    font-size: 24px;
  }
  div.content-form-donation {
    padding: 20px;
  }
}

@media (max-width: 1100px) {
  div.container-donation {
    display: flex;
    flex-direction: column;
  }

  div.header-donation {
    height: auto;
  }
  div.fixed {
    position: initial;
    width: 100%;
    display: flex;
    background-position: right;
    height: auto;
  }

  .row {
    display: flex;
    flex-direction: column;
  }
  .name-container {
    display: flex;
    flex-direction: column;
  }
  .col-double {
    display: flex;
    flex-direction: column;
  }
}
