* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  font-family: "Montserrat", sans-serif;
  color: white;
  background: url(/public/images/Background-01.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
h1 {
  font-family: "Oleo Script", cursive;
}
a,
button,
li {
  list-style: none;
  text-decoration: none;
  color: white;
}
